// color
$gc__main-color: #fa6681 !default;
$gc__accent-color: #245492 !default;
$gc__white-color: #fff !default;
$gc__error-color: #d95858 !default;
$gc__warning-color: #ffe121 !default;
$gc__success-color: #5ba19b !default;
$gc__black-color: #555 !default;
$gc__dark-color: #8f9aae !default;

// min-width
$bp_up: (
  'xs': 'screen and (min-width: 0px)',
  'sm': 'screen and (min-width: 360px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1366px)'
);

// max-width
$bp_down: (
  'xs': 'screen and (max-width: 359px)',
  'sm': 'screen and (max-width: 767px)',
  'md': 'screen and (max-width: 991px)',
  'lg': 'screen and (max-width: 1365px)',
  'xl': 'screen and (max-width: 10000px)'
);
